In [1]:
#!pip install pandas
!pip install bs4
#!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 7.8 MB/s
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.1-py3-none-any.whl (37 kB)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1271 sha256=9205e432894bdfac9eee9196d86a325914866b5705891ee6c938719e9651517f
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.10.0 bs4-0.0.1 soupsieve-2.3.1


Import any additional libraries you may need here.

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.


Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [4]:
import pandas as pd
#url 
url ="https://en.wikipedia.org/wiki/List_of_largest_banks"
df_list = pd.read_html(url)

##load 2nd table 
df = df_list[3]
print(df)

    Rank                                Bank name  Market cap(US$ billion)
0      1                           JPMorgan Chase                   368.78
1      2  Industrial and Commercial Bank of China                   295.65
2      3                          Bank of America                   279.73
3      4                              Wells Fargo                   214.34
4      5                  China Construction Bank                   207.98
5      6               Agricultural Bank of China                   181.49
6      7                        HSBC Holdings PLC                   169.47
7      8                           Citigroup Inc.                   163.58
8      9                            Bank of China                   151.15
9     10                     China Merchants Bank                   133.37
10    11                     Royal Bank of Canada                   113.80
11    12                    Toronto-Dominion Bank                   106.61
12    13                        Commonwealth Bank                    99.77
13    14                            Itaú Unibanco                    85.68
14    15                             U.S. Bancorp                    84.40
15    16                            Goldman Sachs                    78.70
16    17                          Banco Santander                    75.47
17    18                           Banco Bradesco                    74.67
18    19                           Morgan Stanley                    73.93
19    20                                  Westpac                    67.84
20    21           Mitsubishi UFJ Financial Group                    66.20
21    22                               Scotiabank                    65.48
22    23                   PNC Financial Services                    63.11
23    24                   Bank of Communications                    61.85
24    25                              BNP Paribas                    59.36
25    26  Australia and New Zealand Banking Group                    54.88
26    27                  National Australia Bank                    51.68
27    28                     Lloyds Banking Group                    51.19
28    29          Sumitomo Mitsui Financial Group                    49.85
29    30                         Bank of Montreal                    48.12
30    31                                      UBS                    45.92
31    32                                ING Group                    44.97
32    33                              Capital One                    43.22
33    34              The Bank of New York Mellon                    42.58
34    35                      China Minsheng Bank                    39.13
35    36                         China CITIC Bank                    38.55
36    37          Banco Bilbao Vizcaya Argentaria                    37.42
37    38                   Mizuho Financial Group                    36.95
38    39                          Intesa Sanpaolo                    36.90
39    40                          Crédit Agricole                    34.89
40    41       Canadian Imperial Bank of Commerce                    34.87
41    42                   Royal Bank of Scotland                    33.95
42    43                                 Barclays                    33.26
43    44                            Credit Suisse                    30.75
44    45                                   Nordea                    29.59
45    46                       Standard Chartered                    29.37
46    47                                 KBC Bank                    27.40
47    48                                UniCredit                    26.88
48    49                         Société Générale                    21.27
49    50                            Deutsche Bank                    15.77

In [8]:
df.to_json(r'File Name.json')

In [9]:
df[101:124]

Empty DataFrame
Columns: [Rank, Bank name, Market cap(US$ billion)]
Index: []



Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [10]:
soup=print(df.head())

   Rank                                Bank name  Market cap(US$ billion)
0     1                           JPMorgan Chase                   368.78
1     2  Industrial and Commercial Bank of China                   295.65
2     3                          Bank of America                   279.73
3     4                              Wells Fargo                   214.34
4     5                  China Construction Bank                   207.98

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [ ]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')

Display the first five rows using the `head` function.

In [ ]:
print(df.head())


Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [ ]:
print(df)